@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*{
  box-sizing: border-box;
}

body {
  color: #262338;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  font-family: "FSP DEMO - Mangueira Alt Black";
  background: #FFFFFF;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
